/* Reset básico para garantir a consistência entre diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626; /* fundo escuro para a página toda */
    color: #ffffff; /* texto branco para legibilidade */
    font-family: Arial, sans-serif; /* fonte padrão */
}

table {
    width: 100%; /* largura total da tabela */
    border-collapse: collapse; /* sem espaçamento entre bordas das células */
    margin-bottom: 20px; /* espaço abaixo da tabela */
    border-radius: 20px; /* bordas arredondadas */
    overflow: hidden; /* esconde o conteúdo que exceda as bordas arredondadas */
    background-color: #ffffff; /* fundo branco para contraste */
}

th, td {
    padding: 10px; /* espaçamento interno para células */
    text-align: center; /* centraliza o conteúdo das células */
    font-size: 16px; /* tamanho da fonte aumentado */
}

th {
    background-color: #333333; /* cor de fundo mais escura para os cabeçalhos */
    color: #ffffff; /* texto branco */
}

td {
    background-color: #f2f2f2; /* cor de fundo mais clara para as células */
    color: #333333; /* texto mais escuro */
}

.nao-incluido {
    color: red; /* ícones 'X' em vermelho */
}

.verificado {
    color: #4caf50; /* ícones de verificação em verde discreto */
}

.texto-centro {
    text-align: center; /* centraliza o texto */
}

/* Estilos adicionais para ícones e detalhes */
.icon {
    font-size: 0.85em; /* reduzir o tamanho dos ícones */
    display: inline-block; /* permite o controle de tamanho e alinhamento */
    vertical-align: middle; /* alinha os ícones verticalmente ao meio */
}
