/* Reset básico para garantir a consistência entre diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4; /* fundo mais claro para a página toda */
    color: #333; /* texto escuro para legibilidade */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fonte moderna */
}

table {
    width: 100%; /* largura total da tabela */
    border-collapse: collapse; /* sem espaçamento entre bordas das células */
    margin: 20px 0; /* espaço acima e abaixo da tabela */
    border-radius: 10px; /* bordas arredondadas para a tabela */
    overflow: hidden; /* esconder o overflow para manter as bordas arredondadas */
    background-color: #fff; /* fundo branco para a tabela */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* sombra leve para dar profundidade */
}

th, td {
    padding: 15px; /* espaçamento interno maior para células */
    text-align: center; /* centralizando texto */
    font-size: 16px; /* tamanho de fonte maior */
}

th {
    background-color: #007bff; /* fundo azul para cabeçalhos */
    color: #ffffff; /* texto branco */
    font-weight: normal; /* remove bold dos cabeçalhos */
}

tr:not(:last-child) td {
    border-bottom: 2px solid #eeeeee; /* borda inferior mais visível para as linhas */
}

.nao-incluido {
    color: red; /* cor vermelha para o texto 'X' */
}

/* Estilizando os ícones de verificação e cruzamento */
td:not(.nao-incluido) {
    color: #4CAF50; /* cor verde discreto para o texto de verificação */
}

/* Adicionar ícones mais discretos */
td:before {
    font-family: 'Font Awesome 5 Free'; /* usando font awesome para ícones */
    content: '\f00c'; /* ícone de verificação do font awesome */
    color: #4CAF50; /* cor verde discreto */
    margin-right: 5px; /* espaço antes do texto */
}

td.nao-incluido:before {
    content: '\f00d'; /* ícone de cruzamento do font awesome */
    color: red; /* cor vermelha para o ícone 'X' */
}

/* Estilo para os preços e assinaturas para distingui-los um pouco */
td.preco, td.assinatura {
    font-weight: bold; /* texto em negrito para maior destaque */
}

/* Centraliza os elementos na última linha de acordo com os cabeçalhos */
td:last-child {
    text-align: center;
}

