/* Reset básico para garantir a consistência entre diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626; /* fundo escuro para a página toda */
    color: #ffffff; /* texto branco para legibilidade */
    font-family: Arial, sans-serif; /* fonte padrão */
}

table {
    width: 100%; /* largura total da tabela */
    border-collapse: collapse; /* sem espaçamento entre bordas das células */
    border-radius: 20px; /* bordas arredondadas */
    overflow: hidden; /* esconde o conteúdo que exceda as bordas arredondadas */
    background-color: #333333; /* cor de fundo para combinar com o tema escuro */
}

th, td {
    padding: 10px; /* espaçamento interno para células */
    font-size: 14px; /* tamanho da fonte reduzido */
}

th {
    background-color: #333333; /* cor de fundo mais escura para os cabeçalhos */
    color: #ffffff; /* texto branco */
}

td {
    background-color: #262626; /* cor de fundo mais escura para as células */
    color: #ffffff; /* texto branco */
    border-bottom: 1px solid #2F2F2F; /* linha cinza escura abaixo de cada linha */
}

td:first-child {
    text-align: left; /* alinhamento de texto à esquerda para a primeira coluna */
}

.centralizado {
    text-align: center; /* centraliza o conteúdo das células dos planos */
}

.nao-incluido {
    color: red; /* ícones 'X' em vermelho */
}

.icon {
    font-size: 0.85em; /* reduzir o tamanho dos ícones */
    display: inline-block; /* permite o controle de tamanho e alinhamento */
    vertical-align: middle; /* alinha os ícones verticalmente ao meio */
}
